
<div class="about_me">
  <h1>My hobbies</h1>
  <p>
    {@emojis}
  </p>
  <ol>
    <%= for hobby <- @hobbies do %>
        <li>
          <a href={~p"/about_me/#{hobby.id}"}>
            {hobby.text}
          </a>
        </li>
    <% end %>
  </ol>
</div>